@import '../../variables.scss';

.navbar__item {
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .navbar__name {
    margin-top: 5px;
    font-weight: 600;
    visibility: hidden;
    font-size: 11px;
  }

  &:hover,
  &-active {
    cursor: pointer;
    background-color: $main-color-light;

    & > .navbar__name {
      visibility: visible;
    }
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
