@import '../../variables.scss';

.meal__header {
  width: 100%;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

.dishes {
  display: flex;
  flex-direction: column;
  &__list,
  &__empty {
    margin: 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    gap: 20px;
    flex-direction: column;
    align-content: center;
  }

  &__item {
    border: 1px solid $main-color;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;

    span {
      font-weight: bold;
    }

    &-btn {
      cursor: pointer;
      margin-right: 5px;
      padding: 5px;

      &__dicr {
        padding-left: 7px;
        padding-right: 7px;
      }
    }
  }

  &__nutrients{
    font-size: 18px;

    :nth-child(2){
      color: rgb(255, 99, 132)
    }
    :nth-child(3){
      color:rgb(255, 205, 86)
    }
    :nth-child(4){
      color: rgb(54, 162, 235)
    }

  }

  &__add {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;

    & > svg {
      color: $font-color-white;
      border-radius: 50%;
    }
  }
}
