@import '../../variables.scss';

.date {
  justify-self: flex-start;
  margin-top: 20px;
  align-self: start;
  margin-left: 120px;

  &__day {
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    color: $font-color-main;

    & > svg {
      margin-left: 10px;
    }
  }

  @media screen and (max-width: 1024px){
    margin-left: 20px;
  }
}
