.content {
  min-height: calc(100vh - 160px);
  &__profile {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;

    &-left {
      min-width: 460px;
    }

    &-right {
      min-width: 570px;
    }
  }

  &__box {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    margin: 3px 0;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.password-form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-left: 140px;
  
  &__content{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;

    }

    &__logo {
        h4 {
            width: 70%;
            padding-top: 10px;
        }
    }

    &__info{
        display:flex;
    }

    button {
        h4 {
            padding-bottom: 10px;
        }

    }

    &__info-navigation {
        p {
            cursor: pointer;
        }

        p:hover {
            color: #2ecc71
        }

    }

    &__info-social {
        padding-left: 10px;
        padding-right: 10px;

        a:hover {
            text-decoration: none;
        }
    }

    &__info-support {
        p {
            text-decoration: none;
        }
    }


    &__copy {
        align-self: center;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
