.content {
  min-height: calc(100vh - 160px);
  &__profile {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;

    &-left {
      min-width: 460px;
    }

    &-right {
      min-width: 570px;
    }
  }

  &__box {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    margin: 3px 0;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.password-form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
