.product-count {
  display: flex;
  align-items: center;
  justify-content: space-around;

    @media screen and (max-width: 425px){
    .css-2ulfj5-MuiTypography-root{
    font-size: 0.9rem;
  }
  
  .css-11l2f5r-MuiInputBase-root-MuiOutlinedInput-root{
    font-size: 0.8rem;
  }
  }
}
