.hamburger {
   position: fixed;
   z-index: 100;
   top: 1rem;
   right: 18rem;
   padding: 4px;
   border: #34cd75 solid 1px;
   border-radius: 30px;
   background: white;
   cursor: pointer;
}

.lnr-cross {
   display: none;
}

.menu {
   position: fixed;
   transform: translateY(-100%);
   transition: transform 0.4s;
   top: 0;
   left: 0;
   right: 18rem;
   bottom: 0;
   z-index: 99;
   background: #34cd75;
   color: white;
   list-style: none;
   padding-top: 4rem;
   text-align: center;
   line-height: 2;
}

.show-menu {
   transform: translateY(0);
}

.lnr-menu,
.lnr-cross {
   font-size: 30px;
}
