@import '../../variables.scss';

.content {
  margin-left: 100px;
  flex: 1 1 auto;
  padding: 10px 40px 50px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__title {
    flex: 1 1 auto;
    text-align: center;
    color: $font-color-main;
  }

  &__main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  &__left {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__meals {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__nutrientsDays{
    font-size: 20px;

    :nth-child(3) {
      color: rgb(255, 99, 132)
    }
    
    :nth-child(4) {
      color: rgb(255, 205, 86)
    }
    
    :nth-child(5) {
      color: rgb(54, 162, 235)
    }
  }
}
