@import '../../variables.scss';

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40px;
  height: 40px;

  &:hover {
    cursor: pointer;
  }
  & > img {
    width: 40px;
    border: 2px solid $main-color;
    border-radius: 50%;
  }
}
