@import '../../variables.scss';

.avatar {
  width: 40px;
  height: 40px;

  &:hover {
    cursor: pointer;
  }
  & > img {
    width: 40px;
    border: 2px solid $main-color-secondary;
    border-radius: 50%;
  }
}
