@import '../../variables.scss';

.recipesList{
  list-style-type: none;
}
.css-o4b71y-MuiAccordionSummary-content{
  width: 100%;
}

.recipes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid $main-color-secondary;
    border-radius: 10px;
      padding: 5px;

    &__item {
      
      width: 100%;
      display: flex;
      justify-content: space-between;
      // max-height: 215px;

      &__info {
        width: 50%;
        h2 {
          text-align: left;
          padding-bottom: 10px;
        }
      
      li {
        color: $main-color-light;
        font-size: 16px;
        font-weight: 500;
        text-align: start;
        list-style: none;
        margin-left: 15px;
      }
    }

    &__calories {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 15px;

      p {
        color: $main-color-light;
        font-size: 24px;
        font-weight: 700;
      }

      span {
        border: 2px solid $main-color;
        border-radius: 5px;
        padding: 5px;
      }

      button {
        border-radius: 10px;
        background-color: $main-color;
        border: none;
        color: white;
        padding: 10px;
        font-size: 16px;
      }

    } 

      &__photo{
        width: 250px;
        height: 200px;
        background-image: url('../../img/recipe_default.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
      @media screen and (max-width: 1024px){
        &__info{
          h2{
            font-size: 20px;
          }

          li{
            font-size: 14px;
          }
        }
      }
    }
    .MuiSvgIcon-root {
        fill: $main-color-secondary;
        width: 30px;
        height: 30px;
      }
      @media screen and (max-width: 768px){
        &__item__info{
          width: 100%;
          text-align-last: center;
        }

        &__item__calories{
          margin: 20px 0;
        }
      }

      @media screen and (max-width: 458px){
        &__info{
          li{
            font-size: 12px;
          }
        }

        &__calories{
          p{
            font-size: 18px;
          }
        }
      }
}

.container__category{
  margin: 20px 0;
  width: 20%;
}